<table border="1">
	<caption>Список пользователей</caption>
	<tr>
		<th> user id </th>
		<th> user email </th>
		<th> user first name </th>
	    <th> user last name </th>
	    <th> user details </th>
	    <th> user edit </th>
	    <th> user remove </th>
	</tr>
	<% @users.each do |user| %>
	<tr>
	    <td><%= user.id %></td>
	    <td><%= user.email %></td>
		<td><%= user.first_name %></td>
	    <td><%= user.last_name %></td>
	    <td align="center"><%= link_to 'Link', user_path(user) %></td>
	    <td align="center"><%= button_to 'Edit', edit_user_path(user), method: 'get'%></td>
	    <td align="center"><%= button_to 'Remove', user_path(user), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<%= link_to "Add a New User", new_user_path %>